.card {
  flex-basis: calc((100% - 200px) / 2 - 20px);
  margin: 10px 0px 10px 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 380px;
}

.cuerpo-card {
  padding: 16px;
}

.image-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}

.image-wrapper {
  display: flex;
  justify-content: space-around;
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  position: relative;
}

.technology-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 8px;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 14px;
}



@media screen and (max-width: 768px) {
  .card {
    flex-basis: calc(50% - 20px); 
  }
}

@media screen and (max-width: 576px) {
  .card {
    flex-basis: calc(100% - 20px);
  }
}
 