<app-menu (seccionClicada)="irASeccion($event)"></app-menu>

<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">




<div class="portfolio">
    <section id="sobre-mi">
        <h1>Sobre mí</h1>
        <p>¡Hola! Soy Mabel. Aquí podrás saber un poco más sobre mis proyectos 
            y cómo llegué a interesarme por el mundo de la programación. </p>
        <p>Tras traducir textos para una web comercial durante mis prácticas en Filología Inglesa, 
            cambié mi enfoque profesional hacia el desarrollo web y móvil. 
            Completé un bootcamp full stack, desarrollé una app móvil y realicé múltiples cursos de programación.
            Actualmente estoy trabajando como desarrolladora mientras diseño y desarrollo proyectos personales.</p>
        <p>Mira mi experiencia laboral en detalle en <a (click)="irALinkedIn()">LinkedIn</a>.</p>

    </section>

    <section id="habilidades">

        <h1>Sobre mí</h1>
        <p>¡Hola! Soy Mabel. Aquí podrás saber un poco más sobre mis proyectos 
            y cómo llegué a interesarme por el mundo de la programación. </p>
        <p>Tras traducir textos para una web comercial durante mis prácticas en Filología Inglesa, 
            cambié mi enfoque profesional hacia el desarrollo web y móvil. 
            Completé un bootcamp full stack, desarrollé una app móvil y realicé múltiples cursos de programación, 
            y actualmente estoy diseñando y desarrollando mis propios proyectos.</p>
        <p>Mira mi experiencia laboral en detalle en <a (click)="irALinkedIn()">LinkedIn</a>.</p>

    </section>

    <section id="proyectos">

        <h1>Sobre mí</h1>
        <p>¡Hola! Soy Mabel. Aquí podrás saber un poco más sobre mis proyectos 
            y cómo llegué a interesarme por el mundo de la programación. </p>
        <p>Tras traducir textos para una web comercial durante mis prácticas en Filología Inglesa, 
            cambié mi enfoque profesional hacia el desarrollo web y móvil. 
            Completé un bootcamp full stack, desarrollé una app móvil y realicé múltiples cursos de programación, 
            y actualmente estoy diseñando y desarrollando mis propios proyectos.</p>
        <p>Mira mi experiencia laboral en detalle en <a (click)="irALinkedIn()">LinkedIn</a>.</p>

    </section>

    <section id="experiencia">

        <h1>Sobre mí</h1>
        <p>¡Hola! Soy Mabel. Aquí podrás saber un poco más sobre mis proyectos 
            y cómo llegué a interesarme por el mundo de la programación. </p>
        <p>Tras traducir textos para una web comercial durante mis prácticas en Filología Inglesa, 
            cambié mi enfoque profesional hacia el desarrollo web y móvil. 
            Completé un bootcamp full stack, desarrollé una app móvil y realicé múltiples cursos de programación, 
            y actualmente estoy diseñando y desarrollando mis propios proyectos.</p>
        <p>Mira mi experiencia laboral en detalle en <a (click)="irALinkedIn()">LinkedIn</a>.</p>

    </section>

    <section id="educacion">

        <h1>Sobre mí</h1>
        <p>¡Hola! Soy Mabel. Aquí podrás saber un poco más sobre mis proyectos 
            y cómo llegué a interesarme por el mundo de la programación. </p>
        <p>Tras traducir textos para una web comercial durante mis prácticas en Filología Inglesa, 
            cambié mi enfoque profesional hacia el desarrollo web y móvil. 
            Completé un bootcamp full stack, desarrollé una app móvil y realicé múltiples cursos de programación, 
            y actualmente estoy diseñando y desarrollando mis propios proyectos.</p>
        <p>Mira mi experiencia laboral en detalle en <a (click)="irALinkedIn()">LinkedIn</a>.</p>
    </section>

    <section id="contacto">

        <h1>Sobre mí</h1>
        <p>¡Hola! Soy Mabel. Aquí podrás saber un poco más sobre mis proyectos 
            y cómo llegué a interesarme por el mundo de la programación. </p>
        <p>Tras traducir textos para una web comercial durante mis prácticas en Filología Inglesa, 
            cambié mi enfoque profesional hacia el desarrollo web y móvil. 
            Completé un bootcamp full stack, desarrollé una app móvil y realicé múltiples cursos de programación, 
            y actualmente estoy diseñando y desarrollando mis propios proyectos.</p>
        <p>Mira mi experiencia laboral en detalle en <a (click)="irALinkedIn()">LinkedIn</a>.</p>

    </section>
</div>