<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Portfolio - Inicio</title>
</head>
<body>

<div class="pagina">
    <div class="idioma_nombre">
        <div class="botones_idiomas">
            <button class="esp" (click)="cambiarIdioma('es')">ES</button> 
            <p>|</p> 
            <button class="ingles" (click)="cambiarIdioma('en')">EN</button>
        </div>
        <p class="nombre">Mabel San Román Fuentes</p>
    </div>
    <div class="desarrolladora">
        <p>Desarrolladora web</p>
    </div>
    <div class="bienvenido">
        <p class="bienvenido_primero">¡Bienvenido a mi portfolio!</p>
        <p>Si quieres ponerte en contacto conmigo, escríbeme a</p>
        <a href="mailto:mabelsanromanf@gmail.com" class="email">mabelsanromanf&#64;gmail.com</a>
    </div>
    <div class="botones">
        <button class="portfolio" (click)="verPortfolio()">Ver portfolio</button>
        <a href="../../../assets/MabelSanRomanCV.pdf" download class="cv">Descargar CV</a>
    </div>
</div>

</body>
</html>
