<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Portfolio - Inicio</title>
</head>
<body>

<div class="pagina">
    <div class="idioma_nombre">
        <div class="botones_idiomas">
            <button class="esp" (click)="cambiarIdioma('es')">ES</button> 
            <p>|</p> 
            <button class="ingles" (click)="cambiarIdioma('en')">EN</button>
        </div>
        <p class="nombre">Mabel San Román Fuentes</p>
    </div>
    <div class="desarrolladora">
        <p>Web Developer</p>
    </div>
    <div class="bienvenido">
        <p class="bienvenido_primero">Welcome to my portfolio!</p>
        <p>Feel free to email me at <a href="mailto:mabelsanromanf@gmail.com" class="email">mabelsanromanf&#64;gmail.com</a> </p> 
        <p>if you want to contact me.</p>
    </div>
    <div class="botones">
        <button class="portfolio">See portfolio</button>
        <a href="../../../assets/MabelSanRoman_CV.pdf" download class="cv">Download CV</a>
    </div>
</div>

</body>
</html>
