*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}

:root{
    --black: #0e0e0e;
    --white: #f3f3f3;
    --inicioYMenu: 'Inter', sans-serif;
    --fuentePortfolio: 'Quicksand', sans-serif;
}